// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;

$green: #628A0D;
$applegreen: #99B230;
$dark-green: #23472A;

$dark-green: #23472A;
$dark-gray: #333333;
$gray: #464747;
$light-gray: #828282;
$cream-gray: #CBCACF;

$white-grey: #F2F2F3;
$cream: #FBFBFD;
