// Define variables for your color scheme
$red: #880721;
$blue: #065374;
$yellow: #F8A93A;

// The barter Club main color-scheme
$cream: #FEF7EC;
$orange-sub: #d5b182;
$orange: #cf7d08;
$dark-grange: #9D5E06;

$green-sub: #0AB593;
$green: #06745E;
$dark-green: #044E3F;

/* gray-scheme SCSS HEX */
$light: #f5f5f5ff;
$lighter: #e7e8e8ff;
$lighter-gray: #d9dadaff;

$silver: #c1c2c2ff;
$gray: #cbcdcdff;
$gray-2: #989a9aff;
$gray-3: #656767ff;
$dark-4: #474848ff;
$dark-5: #282a2aff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-right: linear-gradient(90deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-bottom: linear-gradient(180deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-left: linear-gradient(270deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-top-right: linear-gradient(45deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-bottom-right: linear-gradient(135deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-top-left: linear-gradient(225deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-bottom-left: linear-gradient(315deg, #f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
$gradient-radial: radial-gradient(#f5f5f5ff, #e7e8e8ff, #d9dadaff, #cbcdcdff, #c1c2c2ff, #989a9aff, #656767ff, #474848ff, #282a2aff);
