
.body {
 margin: 10px;

}
.arrow {
  position: absolute;
  top: 35%;
  right:43%;
}

#trade {
  // color: #171c11;
  color: transparent;
  text-shadow: 0 0 1px #000;
}

.img {
  padding: 10px;
  opacity: 50%;
}


.icon {
  margin-top: 39px;
  padding: 10px;
  opacity: 50%;
}


 .btn-sm-green {
    color: white;
    width: 100px;
    padding: 8px 24px;
    border-radius: 4px;
    background: $green;
    opacity: .8;
    transition: background 0.3s ease;
    margin: 5px;

  }
  .btn-sm-green:hover {
    color: white;
    width: 100px;
    padding: 8px 24px;
    border-radius: 4px;
    background: $green;
    opacity: 1;
    transition: background 0.3s ease;
    margin: 5px;

  }

.btn-sm-grey {
    color: grey;
    width: 100px;
    padding: 8px 24px;
    border-radius: 4px;
    background: #EFF0EA;
    opacity: .8;
    transition: background 0.3s ease;
    margin: 5px;
  }

.btn-sm-grey:hover {
    color: grey;
    width: 100px;
    padding: 8px 24px;
    border-radius: 4px;
    background: $gray;
    opacity: 1;
    transition: background 0.3s ease;
    margin: 5px;
  }
