
@media only screen and (max-width: 600px) {

.item-img {
height: 50vh;
border: solid 1px black;
background: url(https://media.fds.fi/product_image/800/10Ton_19_TH.jpg);
background-position: center;
background-size: cover;
}


}
