
.item-img {
height: 50vh;
width: auto;
background-position: center;
background-size: cover;
}


a:-webkit-any-link {
    text-decoration: none !important;
    cursor: pointer;
    color: unset;
}


.collapse-button-color {
  color: white;

}


.rating .stars {
  color: $yellow;
}
