
.item-img {
height: 50vh;
width: auto;
background-position: center;
background-size: cover;
}


a:-webkit-any-link {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}




.rating .stars {
  color: $yellow;
}

.jumbotron {
  background-color: $cream;
}
