<% if user_signed_in? %>
<%= link_to notifications_path do %>
<div class="nav-item dropdown"  style="position: relative; ">
  <div class="text-right " >
    <i class="fas fa-bell"></i>
  
    <% if current_user.notification.where(read_at: nil).count > 0 %>
      <div class="notification-number">
        <p><%= current_user.notification.where(read_at: nil).count %><p>
      </div>
    <% end %>

  </div>

  </div>
<% end %>
<% end %>


<!-- img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" /> -->
