<div class="home-container">

  <div class="vidcon">
    <video id="video-bg" playsinline autoplay muted loop>
      <source src="<%=image_path "barter-club.mp4" %>" type="video/mp4">
      Your browser does not play the video.
    </video>
  </div>
  <div class="video-overlay">
    <h1>The Barter Club  </h1>
      <h3>Money-free trading</h3>
  </div>

</div>

