.banner {
  background-color: $light;
  color: $gray-3;
  padding: 0.5rem 1rem;
  font-size: larger;
  font-weight: lighter;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 1px solid $light-gray;
  letter-spacing: 1.3px;
}

.banner-landing {
  text-align: center;
  background-size: cover;
  background: transparent;
  position: relative;
  margin-top: 40%;
  margin-bottom: 3rem;



}

.banner-landing .banner-landing-title {
  font-family: inherit;
  text-align: center;
  color: $green;
  opacity: .9;
  text-shadow: 1px 1px 2px $white;
}

.banner-landing p {
  font-size: 1.3em;
  font-weight: bolder;
  margin: 0px;
  opacity: .8;
  color: $white;
  text-shadow: 1px 1px 2px $dark;
}
