  .btn-full {
    color: white;
    width: 342px;
    padding: 8px 24px;
    border-radius: 4px;
    background: $green;
    opacity: .8;
    transition: background 0.3s ease;
  }

  .btn-full:hover {
    opacity: 1;
    color: white;
  }

  .btn-sm {
    color: white;
    width: 165px;
    padding: 8px 24px;
    border-radius: 4px;
    background: $green;
    opacity: .8;
    transition: background 0.3s ease;
  }

  .btn-sm:hover {
    opacity: 1;
    color: white;
  }

  .btn-lg {
    color: white;
    width: 145px;
    padding: 16px 24px;
    border-radius: 4px;
    background: $green;
    transition: background 0.3s ease;
  }

  .btn-lg:hover {
    background: $dark-green;
    color: white;
  }

  .btn-lg-white {
    background: white;
    color: $green;
    width: 145px;
    padding: 16px 24px;
    border-radius: 8px;
    transition: background 0.3s ease;
  }

  .btn-lg-white:hover {
    color: $green;
    background: lightgrey;
  }

   .btn-long {
    color: white;
    width: 100%;
    padding: 16px 24px;
    border-radius: 4px;
    background: $green;
    transition: background 0.3s ease;
  }

  .btn-long:hover {
    background: $dark-green;
    color: white;
  }

  .btn-ghost {
    color: $green;
    border: 1px solid $green;
    // font-size: 12px;
    padding: 6px 18px;
    border-radius: 4px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    opacity: 1;
  }

   .btn-ghost-red {
    color: $red;
    border: 1px solid $red;
    padding: 6px 18px;
    border-radius: 4px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost-red:hover {
    opacity: 1;
  }

  .btn-sticky {
    position: sticky;
    bottom: 0px;
  }

  .collapse-buttons {
    background-color: $green;
  }
