// our cards default display

// use this group for cards deck =>
// .cards .card .card-header .card-body .card-title .card-text

.cards {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-auto-flow: row;
}

// card global variables
.card-title {
  color: $gray-3;
  margin-bottom: 16px;
}

.card-header {
  background-color: $light;
  color: $gray-3;
  font-size: larger;
  font-weight: lighter;
}

.card-subtitle {
  font-size: smaller;
}

.card-body {
  background-color: white;
  min-height: 4px;
}

// item-index list card
.card-index {
  border-bottom: 1px solid $gray;
  padding: 16px 20px 16px 20px;
  overflow: hidden;
  height: 150px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
}

.card-index .card-index-img {
  padding: 0px 4px 0px 4px;
  background-size: cover;
}

.card-index .item-img {
  object-fit: cover;
  object-position: center;
  height: 135px;
  width: 150px;
}

.card-index .card-index-infos {
  padding: 0px 20px;
  margin-left: 16px;
  width: 100%;
  color: $gray-1;
}

.card-index .user a {
    color: $green;
    opacity: 0.7;
    font-weight: lighter;
    transition: opacity 0.3s ease;
  }

.card-index .user a:hover {
  opacity: 1;
}

.card-index p {
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 14px;
  margin-top: 8px;
}

// card-item-show
.item-gallery .item-gallery-img {
  object-fit: scale-down;
  height: 370px;
}

.user-profile {
    height: 130px;
    width: 82%;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 4px;
  }




//
.card-product .card-product-infos {
  padding: 16px;
}

.card-large {
height: 327px;
width: 400px;
border: solid 1px;
}




.card-img {
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card .user-item {
    margin: auto;
  }

  .card-review {
    overflow: hidden;
    height: 148px;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }

  .card-review .card-review-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .card-review-header .rating {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 100px;
  }


  .card-review-header .avatar-large {
    position: absolute;
    left: 16px;
    top: 16px;
  }

  .card-review-header h3 {
    margin: 0;
  }

  .card-review-header .p {
      font-weight: lighter;
      font-size: 14px;
  }

  .card-review .card-review-content {
    line-height: 1.5;
    opacity: .7;
    margin: 0;
    padding: 16px;
    display: grid;
    position: relative;
  }

  .card-review-content .read-more {
    background-color: $white;
    height: auto;
    text-align: end;
  }

  .card-product {
    overflow: hidden;
    height: 130px;
    width: auto;
    background: $light;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
  }

.card-product:hover {

  }


  .card-product img {
    height: 100%;
    width: 160px;
    object-fit: cover;
  }

  .card-product h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 12px;
  }

  .card-product-lg {
  border: none;
  // border-bottom: opacify($color: $gray, $amount: 0.9);
  overflow: hidden;
  height: 320px;
  background: white;
}

.card-product-lg:hover {
    background: #e5e3e3;
  }

.card-product-lg .item-img {
  width: 100%;
  height: 220px;
  border-radius: 6px;
  object-fit: cover;
  }

  .card-product-lg h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product-lg p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product-lg .card-product-infos {
    padding: 12px;
  }

  .card-product-infos-wrapper {
    display: flex;
    justify-content: center;
  }


.card-profile .card-footer .card-subtitle {
  font-size: smaller;
}

.card-profile .card-footer .trade-cal {
  font-weight: bolder;
  font-size: larger;
  color: $green;
}

.rating {
  padding-bottom: 8px;
}

.card-profile .card-img-top .avatar-large {
  width: 64px;
  height: 64px;
}

.card-link {
  color: $green;
}

.card-offer {
  background-color: white;
}

.card-mini-1 {
  border-top: solid 2px $orange;
  border-radius: 5px;
  display: block;
}
.card-mini-2 {
  border-top: solid 2px $green;
  border-radius: 5px;
}




