.form {
  width: 80%;
}

.form-group {
  color: $gray-3;
}

.form-control {
  display: block;
  width: 100%; /*don't*/
  color: $gray-3;
  background-color: #white;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid opacify($color: $gray, $amount: .9);
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  height: auto;
}
.form-control::placeholder {
  color: $green;
  opacity: .5;
}

.form-control:focus {
 width: 70%;
}


input[type="submit" i] {
  border: inherit !important;
  width: fit-content;
  margin: 0px;
}

.input {
  border: none;
}

// landing page
.landing-login {
  position: fixed;
  width: 70%;
  bottom: 28%;
}

.landing-login-form .btn {
  background-color: $green;
  border-radius: 3px;
  opacity: .7;
  border: none;
  color: $white;
  width: 100%;
}

.landing-login-form .btn:hover {
  opacity: 1;
}

.landing-login-form .form-control {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid opacify($color: $green, $amount: .9);
  color: $green;
}

.landing-login-form .form-control::placeholder {
  color: $gray;
  opacity: .9;
}

.form-new {
  border: solid 2px $orange;
  border-radius: 10px;
  padding: 10px;
}
