.header {
  padding: .8rem 1.2rem;
  justify-content: center;
  display: block;
  background-color: $light;
  height: auto;
  max-width: 100%;
}

.fa .fas .fa-map-marker-alt {
  padding: 0px;
}

.header-search .form-control {
  background-color: white;
  color: $gray-4;

  width: 100%;
  border: transparent;
  border-radius: 20px;
  transition: width 0.4s ease-in-out;
}

.search-near .fa-map-marker-alt {
 color: $gray-3;
 font-size: 28px;
}

#searchbar {
  background-color: $white;
  border: transparent;
  color: $green;
  border-radius: 20px;
  width: 100%;
  &::placeholder {
    color: $gray-2;
    font-weight: bolder;
  }
  &:focus {
    background-color: $green;
    color: white;
  }
}

#nearme {
  font-weight: bold;
  text-shadow: 0px 0px 3px $gray;
}

#select-apply {
  width: auto;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
  border: none;
  color: $orange;
  text-decoration: none;
}


