.header {
  padding: .8rem 1.2rem;
  justify-content: center;
  display: block;
  background-color: white;
  height: auto;
  max-width: 100%;
}

.fa .fas .fa-map-marker-alt {
  padding: 0px;
  color: $gray-3;
  font-size: 28px;
}

.header-search .form-control {
  background-color: white;
  color: $gray-4;
  width: 100%;
  border: transparent;
  border-radius: 20px;
  transition: width 0.4s ease-in-out;
}

.search-near .fa-map-marker-alt {
 color: $gray-3;
 font-size: 28px;
}

#searchbar {
  background-color: $light-gray;
  border: transparent;
  border-radius: 20px;
  width: inherit;
  &::placeholder {
    color: $gray-3;
  }
  &:focus {
    width: fit-content;
    background-color: $gray;
    color: $gray-3;
    font-weight: bolder;
    &::placeholder {
      color: $gray-3;
    }
  }
}

#nearme {
  font-size: x-large;
  opacity: 1;
}

#select-apply {
  width: fit-content;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
  border: none;
  color: $orange;
  opacity: 0.8;
  text-decoration: none;
  font-size: larger;
}

#apply {
  font-size: larger;
  opacity: .8;
}

