

.message-text {
  background-color: $orange;
  padding: 5px 10px;
  /*display: flex;*/
  /*flex-direction: column;*/
  border-radius: 15px;
  color: $gray;
  margin: 0;
}

.message-content {
  display:inline-block;
  clear: both;
}

.message-content p {
  padding: 0;
  margin: 0;
}

.message-author{
  margin: 0px;
  margin-top: 10px;
}

.message-border{
  padding-top: 30px;
  padding-bottom: 3px;
  border-bottom: solid grey 1px;
}


.message-input {
  margin-bottom: 33px;
  border-radius: 15px; /* why this is not working? */
  display: inline;
}

#messages {
  margin-bottom: 280px; /* why this is not working? */
}

#right {
  float: right;
  text-align: right;

}

/*#right .message-text {
  padding-right: 10px;
}*/

#left {
  /*min-width: 50%;
  max-width: 50%;*/
  float: left;
}

/*#left .message-text {
  padding-left: 10px;
}*/

.message-container {
  margin: 10px;
  min-height: 100px;
}
