.navbar-barters  {
  justify-content: space-between;
  background: $light;
}

.navbar-nav .navbar-barters {
  justify-content: space-between;
  margin-top: 1.2rem;
}
.navbar-barters .fa {
  color: $gray;
  transition: 0.3s ease;

  &:hover {
    color: $green !important;
  }
}




.navbar-barters .navbar-collapse {
  flex-grow: 0;
}

.navbar-barters .navbar-brand img {
  width: 40px;
}
